*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

.nav_bar{
  width:100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
 
}
.main_heading {
  color: #0881b9;
  font-size: 1.56vw;
  text-align: center;
  /*text-shadow:3px 3px 3px #000000;*/
}
.nav_bar #menu_bar{
  display: none;
}
.logo_conatiner img{
  width: 50px;
  border-radius: 50%;
  margin-left: 6%;
 
}
.nav_bar ul{
  display: flex;
  min-width: 500px;
  justify-content: space-evenly
  
}
.nav_bar ul li{
  font-size:1.3vmax;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  list-style:none;
  padding: 28px 0;
  border-bottom: 5px solid transparent;
}
.nav_bar ul li a{
  color: #034e70;
  text-decoration-line: none;
}
.nav_bar ul li:hover {
  border-bottom: 4px solid #f54e77;
}
.search_bar{
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
 
}
.search_bar span  {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
  
}
.search_bar .search {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
 
}
.main_content{
  height: calc(100% - 70px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main_box {
  width: 30vw;
  height: 30vh;
  margin:15px;
  padding:5px 10px 5px 20px;
  line-height: 30px;
}
.main_box h1 {
  text-align: center;
  font-size: 1.8vw;
  font-weight: 750;
}
.main_box h1 a {
  color:#c71258;
  text-decoration-line: none;
  
}
.main_box p{
  text-align: justify;
  color:#210457;
  font-size: 1.2vw;
  font-weight: 600;
}
.main_box p a{
  color: #092a96;
}

@media(max-width:750px){
  .nav_bar{
    width: auto;
    height: 50px;
  }
  .logo_conatiner{
    display: none;
  }
  .main_heading{
    color: #510364;
    font-size: 3vw;
    font-weight: 800;
  }
  .nav_bar ul{
    display: none;
  }
  .nav_bar #menu_bar{
    display: block;
    padding-left: 30px;

  }
  .search_bar input{
    width: 70px;
  }
 .main_content{
  width: 100%;
  height: 50%;
 }
  .main_box{
    width: auto;
    margin: 15px 15px;
    height: calc(100% - 50px);
    flex-direction:column;
    line-height: 6vw;
  }
  .main_box h1{
    font-size:5vw;

  }
  .main_box p{
    font-size: 3vw;
  }
}

